<odoo>
    <data noupdate="0">
        <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
        <menuitem
            id="material_menu_root"
            name="Material" 
            sequence="20"
        />

        <!-- This Menu Item must have a parent -->
        <menuitem
            id="material_master_menu_act"
            name="Data Master"
            parent="material_menu_root"
            sequence="20"
        />
    </data>
</odoo>
